<!DOCTYPE html>
<html>
<head>
    <title>Challenge</title>
    <meta charset="UTF-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <link type="text/css" rel="stylesheet" href="css/materialize.css" media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="css/nprogress.css" media="screen,projection" />
    <link href="http://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <style>
        #point {
            position: absolute;
            right: 80px;
            top: -2px;
        }

        #back {
            position: absolute;
            left: 15px;
            top: -2px;
        }
            #back i {
                font-size: 65px;
                font-weight: bold;
            }


        .row .col img {
            margin-top: 25px;
        }

        footer {
            height: 70px;
        }

        #gameDiv {
            -ms-opacity: 1;
            opacity: 1;
            display: block !important;
            min-height: calc(100vh - 250px) !important;
            overflow-x: hidden;
            overflow-y: scroll;
        }

            #gameDiv::-webkit-scrollbar {
                display: none;
            }

            #gameDiv.ng-hide-add.ng-hide-add-active,
            #gameDiv.ng-hide-remove.ng-hide-remove-active {
                -webkit-transition: all linear 1s;
                -moz-transition: all linear 1s;
                -ms-transition: all linear 1s;
                -o-transition: all linear 1s;
                transition: all linear 1s;
            }


            #gameDiv.ng-hide {
                -ms-opacity: 0;
                opacity: 0;
            }
    </style>
</head>
<body ng-app="app" ng-controller="gameCtrl">
    
    <div ng-view>
        
    </div>

    <div id="rightModal" class="modal bottom-sheet">
        <div class="modal-content">
            <h4 class="purple-text text-accent-3">Right Choice</h4>
            <p>You choose a girl. Your point: {{point}}.</p>
        </div>
        <div class="modal-footer">
            <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Touch anywhere to continue</a>
        </div>
    </div>

    <div id="wrongModal" class="modal bottom-sheet">
        <div class="modal-content">
            <h4 class="purple-text text-accent-3">Wrong Choice</h4>
            <p>You choose a ladyboy. Game over!!!</p>

            <div>
                <p>You got a high score. Submit your name to leaderboard.</p>
                <div class="row">
                    <div class="input-field col s6">
                        <i class="material-icons prefix">account_circle</i>
                        <input ng-model="playerName" id="icon_prefix" type="text" class="validate" />
                        <label for="icon_prefix">Name</label>
                    </div>
                    <div class="col s6">
                        <button ng-click="sendScore()" class="btn waves-effect waves-light" type="submit" name="action">
                            Submit
                            <i class="material-icons">send</i>
                        </button>

                        <button class="btn waves-effect waves-light" type="submit" name="action">
                            Share on Facebook
                            <i class="material-icons">public</i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

<script type="text/javascript" src="js/jquery-2.1.4.js"></script>
<script type="text/javascript" src="js/materialize.js"></script>
<script type="text/javascript" src="js/angular.js"></script>
<script type="text/javascript" src="js/angular-animate.js"></script>
<script type="text/javascript" src="js/angular.audio.js"></script>
<script type="text/javascript" src="js/angular-route.js"></script>

<script>
    function getRandomItem(input) {
        var idx = Math.floor(Math.random() * input.length);
        return input[idx];
    };

    function shuffleArray(array) {
        for (var i = array.length - 1; i > 0; i--) {
            var j = Math.floor(Math.random() * (i + 1));
            var temp = array[i];
            array[i] = array[j];
            array[j] = temp;
        }
        return array;
    }
</script>

<script>

    var app = angular.module('app', ['ngAnimate', 'ngAudio', 'ngRoute']);

    app.config(['$routeProvider', function ($routeProvider) {
        $routeProvider.
        when('/menu', {
            templateUrl: 'menu.html',
            controller: 'menuCtrl'
        }).
        when('/game', {
            templateUrl: 'game.html',
            controller: 'gameCtrl'
        }).
        when('/leaderboard', {
            templateUrl: 'leaderboard.html',
            controller: 'leaderboardCtrl'
        }).
        otherwise({
            redirectTo: '/menu'
        });
    }]);


    app.controller('gameCtrl', ['$scope', '$http', 'ngAudio', function ($scope, $http, ngAudio) {
        $scope.point = 0;
        $scope.showImg = false;
        $scope.playerName = '';

        $scope.choices = [];
        $scope.leaderboard = [];

        var bingoSound = ngAudio.load("/sound/right.wav");
        var failSound = ngAudio.load("/sound/wrong.wav");
        failSound.volume = 0.3;

        var girls = [];
        var ladyboys = [];


        loadResources();

        $scope.choiceClick = function (item) {
            $scope.showImg = false;
            if (item.isGirl) {
                bingoSound.play();
                $scope.point++;
                $('#rightModal').openModal({
                    complete: function () {
                        $scope.showImg = true;
                        $scope.$digest();
                    }
                });
                loadImage($scope.point);
            } else {
                failSound.play();
                $('#wrongModal').openModal({
                    complete: function () {
                        $scope.point = 0;
                        $scope.showImg = true;
                        $scope.$digest();
                    }
                });
                loadImage(0);
            }
        };

        $scope.sendScore = function () {
            var scoreUrl = 'https://api.mongolab.com/api/1/databases/ladyboy_challenge/collections/leaderBoard?apiKey=Rds2DpkLY7_VqsMfmgfSo_EdzafbQvOs';
            var entry = { name: $scope.playerName, score: $scope.point };

            $http.post(scoreUrl, entry).then(function () {
                $('#wrongModal').closeModal();
                $scope.point = 0;
                $scope.showImg = true;
                $scope.playerName = '';
            });

        }

        function loadImage(point) {
            var items = [];
            items.push(getRandomItem(girls));

            if (point < 10) {
                items.push(getRandomItem(ladyboys));
            } else {
                items.push(getRandomItem(ladyboys));
                items.push(getRandomItem(ladyboys));
                items.push(getRandomItem(ladyboys));
            };

            if (point == 10) Materialize.toast('Things are getting harder. Be careful!!', 4000);

            $scope.choices = shuffleArray(items);

        };

        function loadResources() {
            var girlUrl = 'https://api.mongolab.com/api/1/databases/ladyboy_challenge/collections/girls?apiKey=Rds2DpkLY7_VqsMfmgfSo_EdzafbQvOs';
            var ldbUrl = 'https://api.mongolab.com/api/1/databases/ladyboy_challenge/collections/ladyboys?apiKey=Rds2DpkLY7_VqsMfmgfSo_EdzafbQvOs';

            $http.get(girlUrl).then(function (rs) {
                girls = rs.data;
                return ldbUrl;
            }).then($http.get).then(function (rs) {
                ladyboys = rs.data;
                return $scope.point;
            }).then(function () {
                loadImage($scope.point);
                $scope.showImg = true;
            });
        };
    }
    ]);


    app.controller('leaderboardCtrl', ['$scope', '$http', function ($scope, $http) {
        $scope.leaderboard = [];

        loadLeaderboard();

        function loadLeaderboard() {
            //Sort by score, only get top ten
            var scoreUrl = 'https://api.mongolab.com/api/1/databases/ladyboy_challenge/collections/' +
                           'leaderBoard?s={"score":-1}&l=10&apiKey=Rds2DpkLY7_VqsMfmgfSo_EdzafbQvOs';

            $http.get(scoreUrl).then(function (rs) {
                $scope.leaderboard = rs.data;
            });
        };
    }]);

    app.controller('menuCtrl', ['$scope', '$http', function ($scope, $http) {

        $scope.goPlay = function () {

        };

        $scope.goLeaderboard = function () {

        };
    }]);
</script>











</html>